$color-light-green: rgba(52, 152, 52, 0.7);
$color-normal-green: rgba(75,175,80,1);
$color-white: rgba(255,255,255,1);
$color-light-grey: rgba(204,204,204,1);
$color-error: rgba(255,0,0,1);
$color-red: rgba(231,76,60,1);
$input-min-width: 150px;
$select-min-width: 58px;
$content-url: "../img/";
* {
    font-family: Inconsolata,"Helvetica Neue", Helvetica, Arial, sans-serif;
}
p{
    margin: 5px;
}
ul{
	list-style-type: none;
	font-size: 14px;
	margin: 0;
    padding: 0;
	background-color: $color-white;
	border: 1px solid $color-light-grey;
	width: $input-min-width;
	li{
		
		&:hover {
			background-color: $color-light-grey;
			cursor: pointer;
		}
	}
}
.header{
    padding:30px;
    background-color: cornflowerblue;
    margin-bottom: 20px;
}
form{
	position: relative;
    display: flex;
	flex-flow: column wrap;
	select{
		min-width: $select-min-width;
	}
	label{
		margin: 0 5px;
	}
	button{
		padding: 5px;
		color:  $color-white;
		background-color: $color-light-green;
		margin: 5px 5px;
		border-radius: 5px;
		&:hover{
			background-color: $color-normal-green;
		}
		&:disabled{
			background: $color-light-grey;
      }
	}	
	
	
	div:not(#country-container):not(#country-list):not(#gendre):not(#country-input){
		position: relative;
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-end;
		margin-bottom: 5px;
		div{
			width: $input-min-width;
			#token,#account{
				width:100%;
			}
		}
	}
	#country-container{
		position: relative;
		display: flex;
		flex-flow: column wrap;
		width: $input-min-width;	
		z-index: 9999;
		margin-bottom: 5px;
		
		#country-list{
			position: absolute;
			top: 19px; right: 0; bottom: 0; left: 0;
			display: flex;
			flex-flow: column nowrap;
			justify-content: flex-start;
		}
	}
	#age-range{
		position: relative;
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		min-width: $input-min-width;
	}
	#gendre{
		position: relative;
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		width: $input-min-width;
	}
	.error{
		font-size: 10px;
		color: $color-error;
	}
	.reset-input{
		display: block;
		cursor: pointer;
		position: absolute;
		right: 2px;
		top: 2px;
		width: 16px;
		height: 16px;
		background: url(//yastatic.net/islands/_/nJL92_8XGrQ8WN7LePOnzmpHzd4.svg) no-repeat 0 0;
		opacity: 0.3;
		&:hover{
			opacity: 0.3;
		}
	}
	
}

@media screen and (max-width:500px) {
    /* Mobile styles */
    .container{
        position: relative;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }
}
@media screen and (min-width:501px) and (max-width:999px) {
    /* Tablet styles */
    .container{
        position: relative;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }
}
@media screen and (min-width:1000px) {
    /* Desktop styles */
    .container{
        position: relative;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

    }
}


