* {
  font-family: Inconsolata,"Helvetica Neue", Helvetica, Arial, sans-serif; }

p {
  margin: 5px; }

ul {
  list-style-type: none;
  font-size: 14px;
  margin: 0;
  padding: 0;
  background-color: white;
  border: 1px solid #cccccc;
  width: 150px; }
  ul li:hover {
    background-color: #cccccc;
    cursor: pointer; }

.header {
  padding: 30px;
  background-color: cornflowerblue;
  margin-bottom: 20px; }

form {
  position: relative;
  display: flex;
  flex-flow: column wrap; }
  form input {
    box-sizing: border-box;
    padding-right: 18px;
    width: 150px; }
  form select {
    min-width: 58px; }
  form label {
    margin: 0 5px; }
  form button {
    padding: 5px;
    color: white;
    background-color: rgba(52, 152, 52, 0.7);
    margin: 5px 5px;
    border-radius: 5px; }
    form button:hover {
      background-color: #4baf50; }
    form button:disabled {
      background: #cccccc; }
  form div:not(#country-container):not(#country-list):not(#gendre):not(#country-input) {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin-bottom: 5px; }
    form div:not(#country-container):not(#country-list):not(#gendre):not(#country-input) div {
      width: 150px; }
      form div:not(#country-container):not(#country-list):not(#gendre):not(#country-input) div #token, form div:not(#country-container):not(#country-list):not(#gendre):not(#country-input) div #account {
        width: 100%; }
  form #country-container {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    width: 150px;
    z-index: 9999;
    margin-bottom: 5px; }
    form #country-container #country-list {
      position: absolute;
      top: 19px;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      overflow: hidden;
      height: 150px;
      overflow-y: auto; }
  form #age-range {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    min-width: 150px; }
  form #gendre {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    width: 150px; }
  form .error {
    font-size: 10px;
    color: red; }
  form .reset-input {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 2px;
    top: 2px;
    width: 16px;
    height: 16px;
    background: url(//yastatic.net/islands/_/nJL92_8XGrQ8WN7LePOnzmpHzd4.svg) no-repeat 0 0;
    opacity: 0.3; }
    form .reset-input:hover {
      opacity: 0.5; }

@media screen and (max-width: 500px) {
  /* Mobile styles */
  .container {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    align-items: center; } }

@media screen and (min-width: 501px) and (max-width: 999px) {
  /* Tablet styles */
  .container {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    align-items: center; } }

@media screen and (min-width: 1000px) {
  /* Desktop styles */
  .container {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center; } }
