<div class="">
    <form  name="myForm" autocomplete="off">
			<div><label class="error">{{credentialsError()}}</label></div>
            <div><label>Account token:</label><div><input type="text" id="token" ng-change="onChange()" ng-model="formData.token"  required><a  ng-show="formData.token" class="reset-input"  ng-click="formData.token = null"></a></div></div>
			<div><label>Ad account:</label><div><input type="text" id="account" ng-change="onChange()" ng-model="formData.account" required><a  ng-show="formData.account" class="reset-input"  ng-click="formData.account = null"></a></div></div>
			<div>
				<label>Country:</label>
				<div id="country-container">
					<input type="text" id="country" ng-focus="focused=true" ng-blur="focused=false" ng-model="countryQuery" ng-change="isCountryValid(countryQuery)" ><a  ng-show="countryQuery" class="reset-input"  ng-click="removeCountry()"></a>
					<div id="country-list" ><ul ng-show="hideDropDown($parent.filteredList)"><li ng-click="addCountry(country)" ng-repeat="country in $parent.filteredList = (countryList | filter: countryQuery)" ng-show="$index < 50">{{country.value}}</li><ul></div>
				</div>
			</div>
			
			<div >
				<label>Age From:</label>
				<div id="age-range">
					<select id="min-age" ng-change="onChange()" ng-options="age disable when (restrictMin(age,defaultMax)) for age in ageRange" ng-model="defaultMin"></select>
					<label>To:</label>
					<select id="max-age" ng-change="onChange()" ng-options="age disable when (restrictMax(age,defaultMin)) for age in ageRange" ng-model="defaultMax"></select>
				</div>
			</div>
			<div >
				<label>Gender:</label>
				<div id="gendre">
					<select ng-change="onChange()"  ng-options="gender as gender.name for gender in genders track by gender.value" ng-model="selectedGender">
						<option  ng-repeat="gender in genders>{{gender.name}}</option>
					</select>
				</div>
			</div>
    </form>
</div>


