<div class=''>
    <form>
            <div><label>Account token:</label><input type='text' id='token' required></div>
			<div><label>Ad account:</label><input type='text' id='account' required></div>
			<div><label>Country:</label><input type='text' id='country' required></div>
			<div >
				<label>Age From:</label>
				<div id='age-range'>
					<select id='min-age' ng-model='minAge'>
						<option  ng-repeat='age in ageRange' ng-disabled='age > maxAge'>{{age}}</option>
					</select>
					<label>To:</label>
					<select id='max-age' ng-model='maxAge' >
						<option ng-repeat='age in ageRange' ng-disabled='age < minAge'>{{age}}</option>
					</select>
				</div>
			</div>
			<div >
				<label>Gender:</label>
				<div id='gendre'>
					<select  ng-model='selectedGender'>
						<option ng-repeat='gender in genders'>{{gender}}</option>
					</select>
				</div>
			</div>
            <div><button type='submit' >{{testVar}}</button></div>
    </form>
</div>


